/********************************TAG SELECTORS******************************/

body {
    background-color:white;
    margin:100px;
    display:block;}
h1 {

    color:black;
    margin-top: 50px;
    text-align: center;}
p {
    color:black;
    text-align: center;
    font-size:2.0rem;}
h2 {
    font-size:2.50rem;}
/******************************CLASS SELECTORS*****************************/

/* BODY BORDER */

.border2 {
    border-style: none;
    background-color: black;
    height: 3px;
    width:auto;}

/* CONTACT HYERLINK STYLES */

.contact-link{
    font-family:'Merriweather', serif;
    color:cornsilk; }
.contact-link:visited{
    color:cornsilk; }
.contact-link:hover {
   color:#c06c84; }

/* YOUTUBE HYPERLINK STYLES */

.youtube-link {
    font-family:'Merriweather', serif;
    color:cornsilk; }
.youtube-link:visited{
    color:cornsilk; }
.youtube-link:hover {
    color:#c06c84;  }

/* GITHUB HYPERLINK STYLES */

.github-link {
    font-family:'Merriweather', serif;
    color:cornsilk; }
.github-link:visited{
    color:cornsilk;}
.github-link:hover {
    color:#c06c84;}

/* SOCIAL MEDIA TEXT DECORATIONS */

    /* GITHUB HYPERLINK DECORATIONS */

            .github-link:link {
            text-decoration: none; }
            .github-link:visited:visited {
            text-decoration: none; }
            .github-link:hover:hover {
            text-decoration: none; }
            .github-link:active {
            text-decoration: none; }

    /* YOUTUBE HYPERLINK DECORATIONS */

            .youtube-link:link {
            text-decoration: none; }
            .youtube-link:visited:visited {
            text-decoration: none; }
            .youtube-link:hover:hover {
            text-decoration:none; }
            .youtube-link:active {
            text-decoration:none; }

    /* CONTACT HYPERLINK DECORATIONS */

            .contact-link:link {
            text-decoration: none; }
            .contact-link:visited:visited {
            text-decoration: none; }
            .contact-link:hover:hover {
            text-decoration: none; }
            .contact-link:active {
            text-decoration: none; }

/* FLATICON */


            .flaticon1:link {
        font-family:'Merriweather', serif;
        color:white; }
            .flaticon1:visited {
        color:white; }
            .flaticon1:hover {
        color:#c06c84; }

/* FREEPIK */

            .freepik:link {
        font-family:'Merriweather', serif;
        color:white; }
            .freepik:visited {
        color:white; }
            .freepik:hover {
        color:#c06c84; }

/* SMASHCON */

            .smashicon1:link {
    font-family:'Merriweather', serif;
    color:white; }
            .smashicon1:visited {
    color:white; }
            .smashicon1:hover {
    color:#c06c84; }

/* THOSE ICONS */

            .those-icons:link {
    font-family:'Merriweather', serif;
    color:white; }
            .those-icons:visited {
    color:white; }
            .those-icons:hover {
    color:#c06c84; }

/* TITLE */

.contain1 {
    height:734px;
    background-color:#303036;
    width: 100%;
    border-style:solid;
    border-color: black;}
.title {
    height:734px;
    padding-top: 50px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    margin-top:0px;
    color: white;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 50px;
    font-size:8.645rem;
    width: 100%;}
.full-name {
    font-size:4.0rem;}

/* ICONS */

.monitor1 {
    position: absolute;
    height: 100px;
    left: 350px;
    top:1100px;
    margin-left: auto;
    margin-right: auto;
    display:block;}
.editing1 {
    position: absolute;
    height: 100px;
    right: 350px;
    top:1100px;
    margin-left: auto;
    margin-right: auto;
    display:block;}
.mixer {
    position: absolute;
    height: 100px;
    left:1150px;
    top:1250px;
    margin-right: 100%;
    display:block;}
.photo1 {
    position: absolute;
    height: 100px;
    right:1150px;
    top:1250px;
    display:block;}
.html1 {
    position: absolute;
    height: 100px;
    left:350px;
    top:1500px;
    margin-left: auto;
    margin-right: auto;
    display:block;}
.js1 {
    position: absolute;
    height: 100px;
    right: 350px;
    top:1500px;
    margin-left: auto;
    margin-right: auto;
    display:block;}
.ps1 {
    position: absolute;
    height: 100px;
    right: 300px;
    top:2050px;
    margin-left: auto;
    margin-right: auto;
    display:block;}
.ai1 {
    position: absolute;
    height: 100px;
    left: 300px;
    top:2050px;
    margin-left: auto;
    margin-right: auto;
    display:block;}
.camera1 {
    position: absolute;
    height: 100px;
    left: 170px;
    top:2255px;
    margin-left: auto;
    margin-right: auto;
    display:block;}
.video-camera {
    position: absolute;
    height: 100px;
    right: 170px;
    top:2255px;
    margin-left: auto;
    margin-right: auto;
    display:block;}

/* BODY CONTENTS */

    .contain2 {
    height:1930px;
    background-color:white;
    padding-top: 50px;
    text-align:center;
    font-family: 'Indie Flower', cursive;
    border-style: solid;
    border-top: black;
    border-bottom: black;
    width:100%;}
        .hr-divide1{
            border-style:solid;
            border-color: black;}

/* IMAGES */

.work1 {
    border-style: solid;
    border-width: 3px;
    border-color:black;
    background-color:white;
    border-top: black;
    border-bottom: black;
    width: 100%;}
.jonny {
    width:50%;
    height:auto;
    border-style:solid;
    border-width: 5px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display:block;}
.jonny2 {
    width:50%;
    height:auto;
    border-style:solid;
    border-width: 5px;
    margin-left: auto;
    margin-right: auto;
    display:block;}
.suburb {
    width:50%;
    height:auto;
    position: relative;
    border-style:solid;
    border-width: 5px;
    margin-left: auto;
    margin-right: auto;
    display:block;}
.car1 {
    max-width:auto;
    height:90%;
    position:static;
    bottom:10px;
    right:800px;
    left:80px;
    border-style:solid;
    border-width: 5px;
    margin: auto;
    display:block;}
.duck{
    width:50%;
    height:auto;
    position:relative;
    border-style:solid;
    border-width: 5px;
    margin:auto;
    display:block;}

/* IMAGES STATIC */


/* FOOTER */

.footer {
    background: #303036;
    color: #d3d3d3;
    height:200px;
    position: relative;
    border-style: solid;
    border-color:black;
    size:3px;}
.footer .footer-bottom {
    background:#343a40;
    color:white;
    position: absolute;
    text-align: center;
    height:35px;
    width:100%;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    border-top-style: solid;
    border-color: black;}
.footer .footer-content .contain-socials{
    text-align: center;
    font-size: 35px;
    position: absolute;
    height:150px;
    width:100%;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;}


/*****************************ID SELECTORS****************************/

#icon-contain{
    width:100%;}
