/********************************TAG SELECTORS******************************/

body {
    background-color:white;
  margin:100px;
    
}

h1 {

    color:black;
    margin-top: 50px;
    text-align: center;
}
/*
hr {    
    border-style:none;
    border-width: 1px;
    border-color: #222831;
*/


    /*CLASS SELECTORS */

p {
    color:black;
    text-align: center;

}


/******************************CLASS SELECTORS*****************************/


.border2 {
    border-style: none;
    background-color: black;
    height: 3px;
    width:auto;
   
}




/* CONTACT HYERLINK STYLES */


.contact-link{
    font-family: 'Courier New', Courier, monospace;
    color:cornsilk; }

.contact-link:visited{
    color:cornsilk; }

.contact-link:hover {
   color:#c06c84; }


/* CONTACT HYERLINK STYLES */



/* YOUTUBE HYPERLINK STYLES */


.youtube-link {
    font-family: 'Courier New', Courier, monospace;
    color:cornsilk; }

.youtube-link:visited{
    color:cornsilk; }

.youtube-link:hover {
    color:#c06c84;  }


/* YOUTUBE HYPERLINK STYLES */



/* GITHUB HYPERLINK STYLES */


.github-link {
    font-family: 'Courier New', Courier, monospace;
    color:cornsilk; }

.github-link:visited{
    color:cornsilk;}

.github-link:hover {
    color:#c06c84;}


/* GITHUB HYPERLINK STYLES */




/* SOCIAL MEDIA TEXT DECORATIONS */

    /* GITHUB HYPERLINK DECORATIONS */

            .github-link:link {
            text-decoration: none; }

            .github-link:visited:visited {
            text-decoration: none; }
        
            .github-link:hover:hover {
            text-decoration: none; }

            .github-link:active {
            text-decoration: none; }


    /* YOUTUBE HYPERLINK DECORATIONS */

            .youtube-link:link {
            text-decoration: none; }
    
            .youtube-link:visited:visited {
            text-decoration: none; }
      
            .youtube-link:hover:hover {
            text-decoration:none; }
    
            .youtube-link:active {
            text-decoration:none; }

    /* CONTACT HYPERLINK DECORATIONS */

            .contact-link:link {
            text-decoration: none; }
            
            .contact-link:visited:visited {
            text-decoration: none; }
            
            .contact-link:hover:hover {
            text-decoration: none; }
            
            .contact-link:active {
            text-decoration: none; }


/* SOCIAL MEDIA TEXT DECORATIONS */ 





.social-media {
    
    font-family: fantasy;
    border-collapse: collapse;
    margin: 0px auto;
    text-align: center;

    
}

.contain1 {
    height:734px;
    background-color:#303036;
}

.title {
    height:734px;
    padding-top: 50px;
    text-align: center;
    font-family:Georgia, Times, 'Times New Roman', serif;
    font-size: 65px;
    margin-top:0px;
    color: white;

}

.contain2 {
    height:1000px;
    background-color:white;
    padding-top: 50px;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
}

.footer .footer-content .contain-socials{
    text-align: center;
    font-size: 35px;
    position: absolute;
    height:150px;
    width:100%;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;

}

.work1 {
    border-style: solid;
    border-width: 10px;
    border-color: white;
    background-color:white;
    
}

.jonny {
    max-width:50%;
    height:auto;
    border-style:solid;
    border-width: 5px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display:block;

}

.jonny2 {
    max-width:50%;
    height:auto;
    border-style:solid;
    border-width: 5px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    

}

.suburb {
    max-width:50%;
    height:auto;
    position: relative;
    border-style:solid;
    border-width: 5px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    
    

}

.car1 {
    max-width:auto;
    height:60.2%;
    position:absolute;
    bottom:10px;
    right:800px;
    left:80px;
    border-style:solid;
    border-width: 5px;
    
    
}

.duck {
    max-width:auto;
    height:60.2%;
    position:absolute;
    bottom:10px;
    left:690px;
    right:80px;
    border-style:solid;
    border-width: 5px;

}

.hr-line {
    border-style:solid;
    border-width: 1px;
    border-color: #222831;
    size:3px;
    background-color: black;

}

.footer {
    background: #303036;
    color: #d3d3d3;
    height:200px;
    position: relative;
    border-style: solid;
    border-color:black;
    size:3px;
}

.footer .footer-bottom {
    background:#343a40;
    color:white;
    position: absolute;
    text-align: center;
    height:29px;
    width:100%;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    border-top-style: solid;
    border-color: black;
}
/*****************************ID SELECTORS****************************/



