/********************************TAG SELECTORS******************************/

body {
    background-color:white;
  margin:0px;
    
}

h1 {

    color:#faeee7;
    margin-top: 100px;
    text-align: center;
}

hr {
   background-color:#dff6f0;
    border-style:none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: #222831;
    width: 17.5%;



    /**************************CLASS SELECTORS*************************/
}

p {
    color:cornsilk;
    text-align: center;

}


/******************************CLASS SELECTORS*****************************/


.border2 {
    border-style: none;
    background-color: black;
    height: 3px;
    width:auto;
   
}

.contact-link:hover {
   color:white;

}

.youtube-link:hover {
    color:white;

    
}

.github-link:hover {
    color:white;
}


.social-media {
    
    font-family: fantasy;
    border-collapse: collapse;
    margin: 0px auto;
    text-align: center;

    
}

.contain1 {
    height:734px;
    background-color:#1b2a49;
    margin-top:0px;
}

.container {
    height:734px;
    background-attachment:#29a19c;
    padding-top: 50px;
    text-align: center;
    font-family:fantasy, monospace;
    font-size: 65px;
    margin-top:0px;

}

.contain2 {
    height:734px;
    background-color:#464159;
    padding-top: 50px;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
}

.contain-socials {
    background-color: thistle;
    
    
    
}

/*****************************ID SELECTORS****************************/



