/********************************TAG SELECTORS******************************/

/*
h1 {

    text-align: center;
    font-family: fantasy;
}
*/


h3 {
    
    text-align: center;
    font-family:fantasy;

}

h2 {

    text-align: center;
    font-family: fantasy;
    height: auto;
    width: auto;
}

p {

    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color:#dff6f0;
    
}
    
h1 {

    color:black;
}

hr {
   background-color:#dff6f0;
    border-style:none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: #222831;
    width: 10%;



    /**************************CLASS SELECTORS*************************/
}

.name {

    font-family: fantasy;
    text-align: center;

}

.border1 {
    border-style: none;
    background-color: black;
    height: 3px;
    width:10%;
}

.contact-link:hover {
   color:white;

}

.youtube-link:hover {
    color:white;

    
}

.github-link:hover {
    color:white;
}


.social-media {
    
    font-family: fantasy;
    border-collapse: collapse;
    margin: 0px auto;

    
}



/*****************************ID SELECTORS****************************/

#heading {

    text-align: center;
    font-family: fantasy;
}

